<p class="autocomplete-highlight">survey works!</p>

<button mat-button (click)="isLinear = !isLinear">切换 Linear 状态 {{ isLinear }}</button>

<!-- 一个 form 包含所有 step -->
<form [formGroup]="surveyForm">
  <mat-vertical-stepper [linear]="isLinear">
    <mat-step formGroupName="basicQuestions" [stepControl]="surveyForm.get('basicQuestions')" [optional]="true">
      <ng-template matStepLabel><u>个人资讯</u></ng-template><h4>提供个人资讯</h4>

      <!-- floatLabel: always、never -->
      <!-- placeholder="姓名" -->
      <mat-form-field floatLabel="always" [hideRequiredMarker]="false" hintLabel="最多输入 5 个字">
        <input type="text" name="name" matInput formControlName="name" required>
        <mat-placeholder>
          <mat-icon>person</mat-icon>请输入您的名字
        </mat-placeholder>
        <!-- mat-hint -->
        <mat-hint align="end">
          已输入：{{ surveyForm.get('basicQuestions')?.get('name')?.value?.length || 0 }} / 5
        </mat-hint>
        <!-- mat-error -->
        <mat-error>姓名有误！</mat-error>
      </mat-form-field>
      <div>
        <mat-form-field floatLabel="never" color="accent">
          <input type="text" name="nickname" matInput placeholder="昵称">
        </mat-form-field>
      </div>


      <!-- prefix 和 suffix -->
      <div>
        <mat-form-field>
          <input type="number" matInput placeholder="请问您的平均日常消费?">
          <mat-icon matPrefix>attach_money</mat-icon>
          <span matSuffix>RMB</span>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <!-- ErrorStateMatcher -->
          <!-- <textarea name="intro_self" matInput placeholder="自我介绍" formControlName="intro" required
                    [errorStateMatcher]="earlyErrorStateMatcher"></textarea> -->
          <textarea name="intro_self" matInput placeholder="自我介绍" formControlName="intro" required
                    matTextareaAutosize></textarea>
          <!-- matHint -->
          <mat-hint>简单介绍一下你的兴趣吧！</mat-hint>
          <!-- matError -->
          <!-- <mat-error>请记得输入自我介绍！</mat-error> -->
          <mat-error *ngIf="surveyForm.get('basicQuestions').get('intro').hasError('required')">
            请记得输入自我介绍！
          </mat-error>
          <mat-error *ngIf="surveyForm.get('basicQuestions').get('intro').hasError('minlength')">
            至少输入 10 个字吧！
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input type="date" name="birthday" matInput placeholder="生日">
        </mat-form-field>
      </div>

      <!-- 使用 mat-autocomplete -->
      <div>
        <mat-form-field>
          <input type="text" name="country" matInput placeholder="国家" formControlName="country" [matAutocomplete]="countries">
        </mat-form-field>
        <mat-autocomplete #countries="matAutocomplete" [displayWith]="displayCountry">
          <mat-option *ngFor="let country of countries$ | async" [value]="country">
            <span [innerHTML]="highlightFiltered(country.name)"></span>
          </mat-option>
        </mat-autocomplete>
        <mat-autocomplete #countries1="matAutocomplete">
          <mat-option *ngFor="let country of countries$ | async" [value]="country.name">
            <!-- {{ country.name }} -->
            <span [innerHTML]="highlightFiltered(country.name)"></span>
          </mat-option>
        </mat-autocomplete>
      </div>

      <!-- 使用 mat-optgroup 显示分组数据 -->
      <div>
        <mat-form-field>
          <input type="text" name="majorTech" matInput placeholder="代表技术" formControlName="majorTech"
                [matAutocomplete]="majorTeches">
        </mat-form-field>
        <mat-autocomplete #majorTeches="matAutocomplete">
          <mat-optgroup *ngFor="let majorTech of majorTechList" [label]="majorTech.name">
            <mat-option *ngFor="let item of majorTech.items" [value]="item">
              {{ item }}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </div>

      <!-- 使用 mat-datepicker 选择日期 -->
      <div>
        <mat-form-field>
          <input type="text" name="birthday" matInput placeholder="生日" formControlName="birthday"
                [matDatepicker]="birthdayPicker" [min]="minDate" [max]="maxDate"
                [matDatepickerFilter]="familyDayFilter"
                (dateInput)="logDateInput($event)" (dateChange)="logDateChange($event)">
                <!-- (input)="logDateInput($event)" (change)="logDateChange($event) -->
          <mat-datepicker-toggle [for]="birthdayPicker" matSuffix disabled></mat-datepicker-toggle><!-- disabled -->
          <mat-datepicker #birthdayPicker [startAt]="startDate" touchUi></mat-datepicker><!-- startView="year" disabled="false"  -->
        </mat-form-field>
        <button mat-raised-button (click)="birthdayPicker.opened = true">打开 Datepicker</button>
      </div>

      <!-- 使用 mat-select 和 mat-option -->
      <div>
        <mat-form-field>
          <mat-select formControlName="interest" #selectInterest placeholder="兴趣爱好" multiple disableRipple panelClass="blue-dropdown">
            <mat-select-trigger>
              一共选择了 {{ selectInterest.selected['length'] }} 项爱好
            </mat-select-trigger>
            <mat-option [value]="undefined">无</mat-option>
            <mat-optgroup *ngFor="let parent of nestInterestList; let index = index;"
                          [label]="parent.name" [disabled]="index === 1">
              <mat-option *ngFor="let item of parent.subItems" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>前进到「详细问题」</button>
      </div>
    </mat-step>
    <mat-step editable="false" formGroupName="mainQuestions" [stepControl]="surveyForm.get('mainQuestions')">
      <ng-template matStepLabel><em>详细问题</em></ng-template><h4>主要问题内容</h4>

      <!-- 使用 mat-checkbox -->
      <div>
        <div>除了生活消费外，您最常花费在哪些项目上？</div>
        <mat-checkbox formControlName="payForAll" [indeterminate]="indeterminateSelectedPayFor" (change)="checkAllChange($event)">
          全部
        </mat-checkbox>|
        <mat-checkbox formControlName="payForBook" labelPosition="before" (change)="payForChange()" color="primary">书籍</mat-checkbox>
        <mat-checkbox formControlName="payForMusic" (change)="payForChange()" color="accent">音乐</mat-checkbox>
        <mat-checkbox formControlName="payForMovie" (change)="payForChange()" color="warn">电影</mat-checkbox>
      </div>

      <!-- 使用 Angular Material 的 Radio -->
      <br>
      <div>
        <div>对于 Angular，你的评价是？</div>
        <mat-radio-group formControlName="angularLikeScore" labelPosition="before">
          <mat-radio-button [value]="1">超讨厌</mat-radio-button>
          <mat-radio-button [value]="2">讨厌</mat-radio-button>
          <mat-radio-button [value]="3">普通</mat-radio-button>
          <mat-radio-button [value]="4">喜欢</mat-radio-button>
          <mat-radio-button [value]="5" labelPosition="after">超喜欢</mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div>
        <div>对于 Angular Material，你的评价是？</div>
        <mat-radio-group formControlName="angularMaterialLikeScore">
          <mat-radio-button [value]="1" color="primary">超讨厌</mat-radio-button>
          <mat-radio-button [value]="2" color="accent">讨厌</mat-radio-button>
          <mat-radio-button [value]="3" color="warn">普通</mat-radio-button>
          <mat-radio-button [value]="4">喜欢</mat-radio-button>
          <mat-radio-button [value]="5">超喜欢</mat-radio-button>
        </mat-radio-group>
      </div>

      <br>

      <!-- 使用 mat-slide-toggle -->
      <div>
        <div>订阅电子报</div>
        <div><mat-slide-toggle formControlName="subscribeAngular" labelPosition="before" color="primary">Angular 技巧全集</mat-slide-toggle></div>
        <div><mat-slide-toggle formControlName="subscribeAngularMaterial" color="accent">Angular Material 全攻略</mat-slide-toggle></div>
        <div><mat-slide-toggle formControlName="subscribeNgRx" color="warn">NgRx 入门班</mat-slide-toggle></div>
      </div>

      <button mat-button matStepperPrevious>后退到「个人资讯」</button>
      <button mat-button matStepperNext>前进到「其他」</button>
    </mat-step>
    <mat-step label="其他" formGroupName="otherQuestions" [stepControl]="surveyForm.get('otherQuestions')">
      <h4>其他问题</h4>
      <!-- 使用 mat-slider -->
      <section>
        <div>选择你最喜欢的颜色</div>
        <div>
          <span>Red</span>
          <mat-slider formControlName="favoriteColorRed" min="0" max="255" step="1" vertical></mat-slider>
        </div>
        <div>
          <span>Green</span>
          <mat-slider formControlName="favoriteColorGreen" min="0" max="255" step="1" invert></mat-slider>
        </div>
        <div>
          <span>Blue</span>
          <mat-slider formControlName="favoriteColorBlue" min="0" max="255" step="1"></mat-slider>
        </div>
        <div>RGB: ({{ selectedColorRed }}, {{ selectedColorGreen }}, {{ selectedColorBlue }})</div>
        <div style="width: 50px; height: 50px; border: 1px solid gray;" [ngStyle]="{ background: selectedColorStyle }"></div>
      </section>

      <section>
        <div style="margin-bottom: 10px;">关于这个问卷你觉得设计得如何？</div>
        <mat-slider formControlName="surveyScore" min="0" max="100" step="5" thumbLabel tickInterval="auto"></mat-slider>
      </section>

      <button mat-button matStepperPrevious>回到「详细问题」</button>
    </mat-step>
  </mat-vertical-stepper>
</form>
