<h2>扁平化按钮（mat-button）</h2>
<div>
  <button mat-button>我是按钮</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button>Link</a>
</div>

<h2>凸起按钮（mat-raised-button）</h2>
<div>
  <button mat-raised-button>我是 Raised 按钮</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button>Link</a>
</div>

<h2>Icon 按钮</h2>
<div>
  <button mat-raised-button color="primary">
    <mat-icon>thumb_up</mat-icon> 我的 Icon
  </button>
  <button mat-raised-button color="primary">
    <mat-icon>thumb_up</mat-icon>
  </button>
  <button mat-icon-button color="primary">
    <mat-icon>thumb_up</mat-icon>
  </button>
  <button mat-raised-button mat-icon-button color="primary">
    <mat-icon>thumb_up</mat-icon>
  </button>
</div>

<h2>mat-fab</h2>
<div>
  <button mat-fab><mat-icon>thumb_up</mat-icon></button>
  <button mat-fab color="primary"><mat-icon>thumb_up</mat-icon></button>
  <button mat-fab color="accent"><mat-icon>thumb_up</mat-icon></button>
  <button mat-fab color="warn"><mat-icon>thumb_up</mat-icon></button>
  <button mat-fab disabled><mat-icon>thumb_up</mat-icon></button>
</div>

<h2>mat-mini-fab</h2>
<div>
  <button mat-mini-fab><mat-icon>thumb_up</mat-icon></button>
  <button mat-mini-fab color="primary"><mat-icon>thumb_up</mat-icon></button>
  <button mat-mini-fab color="accent"><mat-icon>thumb_up</mat-icon></button>
  <button mat-mini-fab color="warn"><mat-icon>thumb_up</mat-icon></button>
  <button mat-mini-fab disabled><mat-icon>thumb_up</mat-icon></button>
  <button mat-raised-button mat-icon-button color="primary">
    <mat-icon>thumb_up</mat-icon>
  </button>
</div>

<h2>按钮开关</h2>
<mat-button-toggle>我是按钮开关</mat-button-toggle>

<h2>按钮开关组</h2>
<mat-button-toggle-group #formatAlignGroup="matButtonToggleGroup">
  <mat-button-toggle value="left">
    <mat-icon>format_align_left</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="center" checked="true">
    <mat-icon>format_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="right">
    <mat-icon>format_align_right</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="justify" disabled>
    <mat-icon>format_align_justify</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<div style="margin-top: 10px;">对齐方式为：{{ formatAlignGroup.value }}</div>

<h2>按钮开关组（复选）</h2>
<mat-button-toggle-group multiple vertical="true" #formatTextGroup="matButtonToggleGroup">
  <mat-button-toggle value="bold" #buttonToggleBold>
    <mat-icon>format_bold</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="italic" checked="true" #buttonToggleItalic>
    <mat-icon>format_italic</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="underlined" checked="true" #buttonToggleUnderlined>
    <mat-icon>format_underlined</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<div style="margin-top: 10px;">
  <p>粗体：{{ buttonToggleBold.checked }}</p>
  <p>斜体：{{ buttonToggleItalic.checked }}</p>
  <p>底线：{{ buttonToggleUnderlined.checked }}</p>
</div>

<h2>涟漪效果（mat-ripple）</h2>
<div class="demo-ripple-container" mat-ripple
  [matRippleCentered]="false"
  [matRippleDisabled]="false"
  [matRippleUnbounded]="false"
  [matRippleRadius]="10"
  [matRippleColor]="'pink'"
></div>
<button mat-raised-button (click)="triggerRipple()">触发涟漪</button>
<button mat-raised-button (click)="clearRipple()">清除涟漪</button>
<br><br>
