<button mat-raised-button color="primary">Hello World!</button>

<div>
  Hello，您登入的使用者账号为
  <i class="material-icons">person</i>
  <mat-icon>person</mat-icon>: Darwin
</div>

<div>
  这是一般的 ICON 颜色
  <mat-icon>person</mat-icon>
</div>

<div>
  这是加上 primary 颜色的 ICON
  <mat-icon color="primary">thumb_up</mat-icon>
</div>
<div>
  这是加上 accent 颜色的 ICON
  <mat-icon color="accent">info</mat-icon>
</div>
<div>
  这是加上 warn 颜色的 ICON
  <mat-icon color="warn">warning</mat-icon>
</div>

<h2>自行注册 SVG icon</h2>
<div>
  <mat-icon svgIcon="custom-svg:angular"></mat-icon>
  <mat-icon svgIcon="custom-svg:angular" color="primary"></mat-icon>
  <mat-icon svgIcon="custom-svg:angular" color="accent"></mat-icon>
  <mat-icon svgIcon="custom-svg:angular" color="warn"></mat-icon>
</div>

<h2>在 MatIcon 中使用 FontAwesome</h2>
<i class="fas fa-cannabis"></i>
<div>
  <mat-icon fontSet="fontawesome" fontIcon="fa-cannabis"></mat-icon>
  <mat-icon fontSet="fontawesome" fontIcon="fa-cannabis" color="primary"></mat-icon>
  <mat-icon fontSet="fontawesome" fontIcon="fa-cannabis" color="accent"></mat-icon>
  <mat-icon fontSet="fontawesome" fontIcon="fa-cannabis" color="warn"></mat-icon>
</div>

