<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
  </button>

  <span class="toolbar-title">Angular Material Demo</span>

  <button mat-icon-button [matMenuTriggerFor]="messageMenu" #menuTrigger="matMenuTrigger">
    <mat-icon>message</mat-icon>
  </button>
  <mat-menu #messageMenu="matMenu">
    <button mat-menu-item (click)="messageMenuClick('最新讯息')">最新讯息</button>
    <button mat-menu-item (click)="messageMenuClick('讯息设定')">讯息设定</button>
  </mat-menu>

  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav-container class="app-container">

  <!-- Nav 左边栏 -->
  <mat-sidenav #sideNav class="app-sidenav" mode="push"><!-- (click)="sideNav.toggle()" -->
    <!-- Nav List -->
    <mat-nav-list>
      <h3 matSubheader>示例页面</h3>
      <!-- <a mat-list-item [routerLink]="['/', 'dashboard', 'survey']"></a> -->
      <a mat-list-item routerLink="/dashboard/survey">问卷调查</a>

      <h3 matSubheader><mat-icon>chat_bubble</mat-icon>新讯息</h3>
      <mat-list-item *ngIf="optNew.selected">这是新消息</mat-list-item>
      <mat-list-item *ngIf="optAds.selected">这是广告消息</mat-list-item>

      <mat-divider></mat-divider>

      <h3 matSubheader><mat-icon>settings</mat-icon>讯息设定</h3>
      <mat-selection-list>
        <mat-list-option [value]="1" #optNew>有新讯息时通知我</mat-list-option><!-- selected="true" -->
        <mat-list-option [value]="2" #optAds>显示广告讯息</mat-list-option>
      </mat-selection-list>
    </mat-nav-list>
  </mat-sidenav>


  <!-- Content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
