<mat-toolbar>我是 Toolbar</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sideNav mode="over" fixedInViewport="true" fixedTopGap="20" fixedBottomGap="20"
              disableClose (opened)="opened()" (closed)="closed()">
    <div>我是左侧边栏菜单</div>
    <div>
      <button mat-raised-button color="warn" (click)="toggleSideNav(sideNav)">切换侧边栏状态</button>
    </div>
  </mat-sidenav>
  <mat-sidenav #sideNavEnd opened="true" mode="side" position="end">
    <div>我是右侧边栏菜单</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button (click)="toggleSideNav(sideNav)">切换侧边栏状态</button>

    <mat-drawer-container>
      <mat-drawer mode="side" opened="true">Drawer Side</mat-drawer>
      <mat-drawer-content>Content</mat-drawer-content>
    </mat-drawer-container>

  </mat-sidenav-content>
</mat-sidenav-container>
