:host {

  mat-drawer-container {
    height: 100px;
    margin: 10px;
    border: 1px solid royalblue;

    mat-drawer {
      background: antiquewhite;
    }
    mat-drawer-content {
      background: tan;
    }
  }
}
