<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">

  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
  </button>
  <span>Angular Material Demo</span>

  <span class="toolbar-seprator"></span>

  <button mat-icon-button>
    <mat-icon>message</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav-container class="app-container">

  <!-- Nav -->
  <mat-sidenav #sideNav class="app-sidenav" mode="push">
    <div>我是左侧边栏菜单</div>
    <div>
      <button mat-raised-button color="warn" (click)="sideNav.toggle()">显示 / 隐藏</button>
    </div>

    <!-- Nav list -->
    <mat-nav-list>
      <h3 matSubheader><mat-icon>chat_bubble</mat-icon>新讯息</h3>
      <mat-list-item *ngIf="optNew.selected">这是新消息</mat-list-item>
      <mat-list-item *ngIf="optAds.selected">这是广告消息</mat-list-item>

      <mat-divider></mat-divider>

      <h3 matSubheader><mat-icon>settings</mat-icon>讯息设定</h3>
      <mat-selection-list>
        <mat-list-option [value]="1" #optNew>有新讯息时通知我</mat-list-option>
        <mat-list-option [value]="2" #optAds>显示广告讯息</mat-list-option>
      </mat-selection-list>
    </mat-nav-list>

  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>

    <button mat-button (click)="sideNav.toggle()">切换状态</button>

    <!-- Drawer -->
    <mat-drawer-container>
      <mat-drawer mode="side" opened="true">Drawer Side</mat-drawer>
      <mat-drawer-content>Drawer Content</mat-drawer-content>
    </mat-drawer-container>

    <!-- 多行 Toolbar -->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Row1 Toolbar</span>
        <span class="toolbar-seprator"></span>
        <mat-icon>favorite</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Row2 Toolbar</span>
        <span class="toolbar-seprator"></span>
        <mat-icon>delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- Toolbar -->
    <mat-toolbar>默认 Toolbar</mat-toolbar>
    <mat-toolbar color="primary">primary Toolbar</mat-toolbar>
    <mat-toolbar color="accent">accent Toolbar</mat-toolbar>
    <mat-toolbar color="warn">warn Toolbar</mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
