/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-header {
  position: fixed;
  z-index: 2;
}

.app-container, .app-sidenav {
  position: absolute;
  padding-top: 64px;
  height: calc(100vh - 64px);
}

.toolbar-title {
  flex: 1 1 auto;
  text-align: center;
}

.autocomplete-highlight {
  font-weight: bold;
  background: orange;
}

.blue-dropdown.mat-select-panel {
  background: royalblue;
}
