.post-tile {
  align-self: flex-start;
  width: 100%;
  margin: 5px;

  .mat-card-image {
    max-height: 300px;
  }
}
mat-card:focus {
  background: antiquewhite;
}
.blog-sidebard-content {
  align-self: flex-start;
  padding-top: 100px;
  width: 95%;
}
